html,body
{   
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}

.input
{   
    position:relative;
    width:60%;
    height:65%;
    background:rgb(131,175,155);
    margin:0 auto;
    font-family:"等线";
}

.input h1
{   
    position: relative;
    text-align: center;
    font-size: 50px;
    margin: 0;
    top:20px;
}

.input p
{   
    position: relative;
    top:30px;
    text-align: center;
}

.input button
{
    position: relative;
    display: block;
    top:50px;
    margin: 0 auto;
}

#output
{   
    position: relative;
    width:50%;
    height:15%;
    margin: 0 auto;
    background:rgb(131,175,155);
    text-align: center;
    top:30px;
    display: none;
}

#output p
{
    position: relative;
    top:15px;
}
